<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.4.0" newVersion="2.0.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.8.1.0" newVersion="4.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Dataflow" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.0.0" newVersion="4.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Interactive.Async" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Memory" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="identity:provider" value="Default" />
    <add key="modularity:modules" value=""/>
    <add key="sqlite:connectionString" value="Filename=c:\Temp\WistExplorer\wallet.dat" />
    <add key="node:modules" value="CommonModule, TransactionsRegistrationModule, SynchronizationProducerModule, StorageModule, InteractionModule" />
    <add key="node:communicationServices" value="generalTcpCommunication, generalUdpCommunication" />
    <add key="interaction:port" value="5050" />
    <add key="generalTcpCommunication:CommunicationServiceName" value="GenericTcp" />
    <add key="generalTcpCommunication:MaxConnections" value="10" />
    <add key="generalTcpCommunication:ReceiveBufferSize" value="1024" />
    <add key="generalTcpCommunication:ListeningPort" value="5051" />
    <add key="generalUdpCommunication:CommunicationServiceName" value="GenericUdp" />
    <add key="generalUdpCommunication:MaxConnections" value="1" />
    <add key="generalUdpCommunication:ReceiveBufferSize" value="1024" />
    <add key="generalUdpCommunication:ListeningPort" value="5052" />
    <add key="sync:CommunicationServiceName" value="GenericTcp" />
    <add key="registry:TcpServiceName" value="GenericTcp" />
    <add key="registry:UdpServiceName" value="GenericUdp" />
    <add key="synchronizer:SyncNodeKey" value="A951F8BC2F4A7851274979654506FBBD8C9D90416DE6605E6AB87E2BC29E9927"/>
    <add key="synchronizer:RegistryNodeKey" value="D7753E03EAA39E275B9C31D3C4323721CB434EBFC4BB84A37F199F554D2E02E1"/>
    <add key="synchronizer:StorageNodeKey" value="70B790FBBFB243C4A012F5EA5C7CBF4A5AB04A2334D54431DEF87848779FB74D"/>
    <add key="synchronizer:Nodes" value="A951F8BC2F4A7851274979654506FBBD8C9D90416DE6605E6AB87E2BC29E9927:127.0.0.1,D7753E03EAA39E275B9C31D3C4323721CB434EBFC4BB84A37F199F554D2E02E1:127.0.0.1,70B790FBBFB243C4A012F5EA5C7CBF4A5AB04A2334D54431DEF87848779FB74D:127.0.0.1"/>
    <add key="clientDataContext:ConnectionString" value="Filename=c:\Temp\Wist\walletClientEC.dat"/>
  </appSettings>
</configuration>